In [55]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [56]:
df = pd.read_csv('Data2.csv')

In [57]:
df.head(10)

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90
5  26.27  59.44  1012.23  58.77  443.67
6  15.89  43.96  1014.02  75.24  467.35
7   9.48  44.71  1019.12  66.43  478.42
8  14.64  45.00  1021.78  41.25  475.98
9  11.74  43.56  1015.14  70.72  477.50

In [58]:
df.describe()

                AT            V           AP           RH           PE
count  9568.000000  9568.000000  9568.000000  9568.000000  9568.000000
mean     19.651231    54.305804  1013.259078    73.308978   454.365009
std       7.452473    12.707893     5.938784    14.600269    17.066995
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.510000    41.740000  1009.100000    63.327500   439.750000
50%      20.345000    52.080000  1012.940000    74.975000   451.550000
75%      25.720000    66.540000  1017.260000    84.830000   468.430000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

In [59]:
df.describe()
df.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [60]:
x = df.drop(['PE'], axis = 1)
y = df['PE']
print(x)
print(y)

         AT      V       AP     RH
0     14.96  41.76  1024.07  73.17
1     25.18  62.96  1020.04  59.08
2      5.11  39.40  1012.16  92.14
3     20.86  57.32  1010.24  76.64
4     10.82  37.50  1009.23  96.62
...     ...    ...      ...    ...
9563  16.65  49.69  1014.01  91.00
9564  13.19  39.18  1023.67  66.78
9565  31.32  74.33  1012.92  36.48
9566  24.48  69.45  1013.86  62.39
9567  21.60  62.52  1017.23  67.87

[9568 rows x 4 columns]
0       463.26
1       444.37
2       488.56
3       446.48
4       473.90
         ...
9563    460.03
9564    469.62
9565    429.57
9566    435.74
9567    453.28
Name: PE, Length: 9568, dtype: float64

In [61]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [62]:
lin_reg = LinearRegression()

In [63]:
lin_reg.fit(x_train, y_train)

LinearRegression()

In [64]:
training_data_prediction = lin_reg.predict(x_train)

In [65]:
r2_score = metrics.r2_score(training_data_prediction, y_train)
print("training_data_prediction = ", r2_score)

training_data_prediction =  0.9221519345059325

In [66]:
test_data_prediction = lin_reg.predict(x_test)

In [67]:
r2_score = metrics.r2_score(test_data_prediction, y_test)
print("test_data_prediction = ", r2_score)

test_data_prediction =  0.9257214794908907

In [69]:
input = (14.96 , 41.76 , 1024.07 , 73.17)
input_data_as_numpy_array = np.array(input)
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)
prediction = lin_reg.predict(input_data_reshaped)
print(prediction) # y should be 460.03

[467.22564034]

c:\Users\Ratul\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(