In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
# loading dataset to panadas dataframe
credit_card_data=pd.read_csv('creditcard.csv')
print(credit_card_data)

            Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
0       0.462388  0.239599  0.098698  0.363787  ... -0.018307  0.277838
1      -0.082361 -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672
2       1.800499  0.791461  0.247676 -1.514654  ...  0.247998  0.771679
3       1.247203  0.237609  0.377436 -1.387024  ... -0.108300  0.005274
4       0.095921  0.592941 -0.270533  0.817739  ... -0.009431  0.798278
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
0      -0.110474  0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62
1       0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69
2       0.909412 -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66
3      -0.190321 -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50
4      -0.137458  0.141267 -0.206010  0.502292  0.219422  0.215153   69.99
...          ...       ...       ...       ...       ...       ...     ...
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
0           0
1           0
2           0
3           0
4           0
...       ...
284802      0
284803      0
284804      0
284805      0
284806      0

[284807 rows x 31 columns]

In [6]:
# dataset information: it tells about the information of datas
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
# checking the nmber of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
# DISTRIBUTION OF LEGIT TRANSACTION & FRAUDLENT TYRANSACTION
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [9]:
# SEPARATING THE DATA FOR ANALYSIS
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [10]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [11]:
# STATISTICAL MEASURES OF THE DATA
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [13]:
#COMPPARE THE VALUES FOR BOTH TRANSACTIONS
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
# Build a sample dataset containing similar distribution of normal transaction and fraudulent Transactions
# Number of Fraudulent Transactions-->492

legit_sample=legit.sample(n=492) 
# -->this will take random 492 data set from legit data set...
# CONCADINATE 2 DATA FRAMES
new_dataset=pd.concat([legit_sample,fraud],axis=0)
new_data set
# HERE WE HAVE CONCADINATED LEGIT SAMPLE JETA RANDOMLY KOTA NORMAL LEGIT TRANSACTION NEBE 492 MOTO AAR TAR SATHE FRAUD ER J 492 DATA ACHE SETAA ADD HOLO..BUT SETA AS EKHANE AXIS =0 SO LEGIT SAMPLE COLUMN   ER NICHE ROW WISE ADD HBE..AR AXIS=1 HOLE COLUMN WISE  AD HBE

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
95643,65406.0,1.599488,-1.168947,-1.137325,-2.511608,0.993648,3.230796,-1.504139,0.750028,-1.983428,...,-0.274774,-0.517860,0.009862,0.981124,0.553184,-0.189933,0.034978,0.012136,1.00,0
273492,165601.0,1.915904,-0.558474,-0.198999,0.441647,-0.895905,-0.291444,-0.802116,0.176804,1.400656,...,0.242137,0.863315,0.139612,0.007455,-0.197834,-0.228395,0.032667,-0.048932,9.99,0
34477,37685.0,-1.187916,-0.255974,2.245032,-0.379389,0.394608,-0.820535,-0.257216,0.247613,-0.274083,...,0.229725,0.291777,0.095677,0.338225,-0.365052,0.202777,0.041810,0.138058,28.82,0
27708,34670.0,1.140997,-0.127452,1.158546,1.153022,-0.822172,0.294311,-0.724022,0.300673,0.762212,...,-0.043092,0.022967,-0.044842,-0.005912,0.406288,-0.403513,0.064418,0.022550,4.99,0
51189,44833.0,1.195263,-0.060488,0.404830,0.050623,-0.676664,-0.962406,-0.063422,-0.072519,-0.026375,...,-0.160849,-0.588741,0.114577,0.553998,0.083657,0.785559,-0.097598,-0.001052,24.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [18]:
new_dataset.head()
# it will show first 5 rows of the data  set

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
95643,65406.0,1.599488,-1.168947,-1.137325,-2.511608,0.993648,3.230796,-1.504139,0.750028,-1.983428,...,-0.274774,-0.517860,0.009862,0.981124,0.553184,-0.189933,0.034978,0.012136,1.00,0
273492,165601.0,1.915904,-0.558474,-0.198999,0.441647,-0.895905,-0.291444,-0.802116,0.176804,1.400656,...,0.242137,0.863315,0.139612,0.007455,-0.197834,-0.228395,0.032667,-0.048932,9.99,0
34477,37685.0,-1.187916,-0.255974,2.245032,-0.379389,0.394608,-0.820535,-0.257216,0.247613,-0.274083,...,0.229725,0.291777,0.095677,0.338225,-0.365052,0.202777,0.041810,0.138058,28.82,0
27708,34670.0,1.140997,-0.127452,1.158546,1.153022,-0.822172,0.294311,-0.724022,0.300673,0.762212,...,-0.043092,0.022967,-0.044842,-0.005912,0.406288,-0.403513,0.064418,0.022550,4.99,0
51189,44833.0,1.195263,-0.060488,0.404830,0.050623,-0.676664,-0.962406,-0.063422,-0.072519,-0.026375,...,-0.160849,-0.588741,0.114577,0.553998,0.083657,0.785559,-0.097598,-0.001052,24.00,0

In [19]:
new_dataset.tail()
# it will show first 5 col  of the data  set

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [20]:
new_dataset['Class'].value_counts()
# e class variatione kota data ache debe

0    492
1    492
Name: Class, dtype: int64

In [21]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93390.550813,-0.094648,-0.088952,0.009371,0.138364,-0.016935,0.002631,-0.028654,-0.073436,0.087963,...,-0.004685,-0.008977,-0.047543,-0.007298,0.016435,0.014956,0.000160,0.025408,-0.025922,98.826565
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [26]:
# Splitting the data into FEATURES & TARGETS 
X=new_dataset.drop(columns='Class',axis=1)

Y=new_dataset['Class']
print(X)
print(Y)

            Time        V1        V2        V3        V4        V5        V6  \
95643    65406.0  1.599488 -1.168947 -1.137325 -2.511608  0.993648  3.230796
273492  165601.0  1.915904 -0.558474 -0.198999  0.441647 -0.895905 -0.291444
34477    37685.0 -1.187916 -0.255974  2.245032 -0.379389  0.394608 -0.820535
27708    34670.0  1.140997 -0.127452  1.158546  1.153022 -0.822172  0.294311
51189    44833.0  1.195263 -0.060488  0.404830  0.050623 -0.676664 -0.962406
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
95643  -1.504139  0.750028 -1.983428  ... -0.227198 -0.274774 -0.517860
273492 -0.802116  0.176804  1.400656  ... -0.303559  0.242137  0.863315
34477  -0.257216  0.247613 -0.274083  ...  0.185421  0.229725  0.291777
27708  -0.724022  0.300673  0.762212  ... -0.166610 -0.043092  0.022967
51189  -0.063422 -0.072519 -0.026375  ... -0.077691 -0.160849 -0.588741
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
95643   0.009862  0.981124  0.553184 -0.189933  0.034978  0.012136    1.00
273492  0.139612  0.007455 -0.197834 -0.228395  0.032667 -0.048932    9.99
34477   0.095677  0.338225 -0.365052  0.202777  0.041810  0.138058   28.82
27708  -0.044842 -0.005912  0.406288 -0.403513  0.064418  0.022550    4.99
51189   0.114577  0.553998  0.083657  0.785559 -0.097598 -0.001052   24.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
95643     0
273492    0
34477     0
27708     0
51189     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [27]:
# SPLIT THE DATA INTO tRAINING DATA & TESTING DATA

In [28]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [29]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [31]:
# MODEL TRAING
# lOGISTIC REGRESS
model=LogisticRegression()
model.fit(X_train,Y_train)

C:\Users\ANIRBAN JASH\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
# MODEL EVALUATION
#  ACCURACY SCORE
#  ACCURACY SCORE ON TRAINING DATA
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
print('Accuracy on Traing data :',training_data_accuracy)

Accuracy on Traing data : 0.9428208386277002

In [35]:
#  ACCURACY SCORE ON Test DATA
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)
print('Accuracy on Test data :',test_data_accuracy)

Accuracy on Test data : 0.9543147208121827